@{ <!--EKLENECEKLER: Otomatik olarak giriş yapan kullanıcının id'sinin url'ine redirect edecek-->
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string creditCardName = "";
    string holderName = "";
    string cardNumber = "";
    int creditCardId = 0;
    int userId_userId = 0;
    int userId = 0;
    string CVV = "";
    string userName = "";
    DateTime expireDate = new DateTime();
    userName = User.Identity.Name;


    if (!IsPost)
    {
        var db = Database.Open("Context"); <!--Nuget package olarak Microsoft.AspNet.WebPages.WebData eklenmeli-->
        var dbCommand1 = "SELECT * FROM Users WHERE userName = @0";
        var row1 = db.QuerySingle(dbCommand1, userName);

        if (row1 != null)
        {
            userId = row1.userId;
        }

        var dbCommand2 = "SELECT * FROM CreditCards WHERE userId_userId = @0";
        var row2 = db.QuerySingle(dbCommand2, userId);

        if (row2 != null)
        {
            creditCardName = row2.creditCardName;
            holderName = row2.holderName;
            cardNumber = row2.cardNumber;
            creditCardId = row2.creditCardId;
            userId_userId = row2.userId_userId;
            expireDate = row2.expireDate;
            CVV = row2.CVV;
        }
        //else
        //{
        //    creditCardName = Request.Form["creditCardName"];
        //    holderName = Request.Form["holderName"];
        //    cardNumber = Request.Form["cardNumber"];
        //    CVV = Request.Form["CVV"];
        //    creditCardId = 0;
        //    expireDate = DateTime.Parse("01/02/2025");
        //    userId_userId = userId;
        //}
    }
    }
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,600">
<link rel="stylesheet" type="text/css" href="~/Content/creditCard.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- profile -->
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Profile</h2>
                <ul class="cate">
                    <li><a href="/Profile/MyAccount"><i class="fa fa-arrow-right" aria-hidden="true"></i>My Account</a></li>
                    <ul>
                        <li><a href="/Profile/CreditCards"><i class="fa fa-arrow-right" aria-hidden="true"></i>My Credit Cards</a></li>
                        <li><a href="/Profile/Addresses"><i class="fa fa-arrow-right" aria-hidden="true"></i>My Addresses</a></li>
                        <li><a href="/Profile/UpdateInfo"><i class="fa fa-arrow-right" aria-hidden="true"></i>Updating Account Information</a></li>
                        <li><a href="/Profile/ResetPassword"><i class="fa fa-arrow-right" aria-hidden="true"></i>Reseting Password</a></li>
                    </ul>
                    @*<li><a href="/Profile/Orders"><i class="fa fa-arrow-right" aria-hidden="true"></i>My Orders</a></li>
                    <ul>
                        <li><a href="/Profile/CurrentOrders"><i class="fa fa-arrow-right" aria-hidden="true"></i>Current Orders</a> </li>
                        <li><a href="/Profile/PastOrders"><i class="fa fa-arrow-right" aria-hidden="true"></i>Past Orders</a> </li>
                    </ul>
                    <li><a href="/Profile/RatingsComments"><i class="fa fa-arrow-right" aria-hidden="true"></i>My Ratings and Comments</a></li>
                    <ul>
                        <li><a href="/Profile/Ratings"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ratings</a> </li>
                        <li><a href="/Profile/Comments"><i class="fa fa-arrow-right" aria-hidden="true"></i>Comments</a> </li>
                    </ul>*@
                </ul>
            </div>
        </div>

        <div class="col-md-8 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        <h1>Credit card</h1>
                        <h2>@creditCardName</h2>
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <div class="card">
                                        <div class="card__sim"></div>
                                        <div class="card__number">
                                            @cardNumber
                                        </div>
                                        <div class="card__little-number">
                                            number
                                        </div>
                                        <div class="card__little-letter">
                                            Good Till
                                        </div>
                                        <div class="card__expiration">
                                            <div class="card__month">
                                                @expireDate.Month
                                            </div>
                                            <span>/</span>
                                            <div class="card__year">
                                                @expireDate.Year
                                            </div>
                                        </div>
                                        <div class="card__name">
                                            @holderName
                                        </div>
                                        <div class="card__type">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form method="post">
                            <fieldset>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Credit Card Name</label><input name="creditCardName" type="text" class="form-control" placeholder="Credit Card Name" value="@creditCardName"></div>
                                    <div class="col-md-6"><label class="labels">Card Holder Name</label><input name="holderName" type="text" class="form-control" placeholder="Card Holder Name" value="@holderName"></div>
                                </div>
                                <br>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Card Number</label><input name="cardNumber" type="tel" class="form-control" placeholder="Card Number" value="@cardNumber"></div>
                                </div>
                                <br>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Expire Month</label><input name="expireDate" type="datetime" class="form-control" value="@expireDate"></div>
                                </div>
                                <br>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">CVV</label><input name="CVV" type="text" class="form-control" placeholder="CVV" value="@CVV"></div>
                                </div>
                                <div class="row mt-3">
                                    <input type="hidden" name="creditCardId" value="@creditCardId">
                                    <input type="hidden" name="userId" value="@userId_userId">
                                </div>
                                <br>
                                <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
                            </fieldset>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="col-md-8 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
